<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM Rest-API</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="container mx-auto">
    <h1 class="text-3xl font-bold mt-16">CRM Rest-API</h1>

    <p class="mt-6">
        This simple CRM Rest-API is the final project from Udacity
        <a href="https://www.udacity.com/course/golang--cd11970" target="_blank"><em>Golang course</em></a>.
        Users can <em><strong>CRUD</strong>(create, read, update and delete) customers</em>.
    </p>

    <table class="border-collapse table-auto w-full mt-8">
        <caption class="text-slate-500 pb-4 text-xs caption-top">
            API endpoints
        </caption>
        <thead class="bg-slate-50">
            <tr>
                <th class="border font-medium p-4 pl-8 pt-3 pb-3 text-slate-400 text-left">Method</th>
                <th class="border font-medium p-4 pl-8 pt-3 pb-3 text-slate-400 text-left">Path</th>
                <th class="border font-medium p-4 pl-8 pt-3 pb-3 text-slate-400 text-left">Description</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            <tr>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">GET</td>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">/customers</td>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">Get all Customers</td>
            </tr>
            <tr>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">GET</td>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">/customers/{id}</td>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">Get Customer by ID</td>
            </tr>
            <tr>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">POST</td>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">/customers</td>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">Create Customers</td>
            </tr>
            <tr>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">PUT</td>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">/customers/{id}</td>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">Update Customers</td>
            </tr>
            <tr>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">DELETE</td>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">/customers/{id}</td>
                <td class="border border-slate-200 p-4 pl-8 text-slate-500">Delete Customers</td>
            </tr>
        </tbody>
    </table>

</body>
</html>